.layout {
  position: relative;
  width: 100%;
  padding: 3em 0.5em 11em 0.5em;
  background: #f9c3d3;
  top: 0;
  transition: top 0.30s ease-out;
}

.layout-down{
  top: 24.75em;
}

.layout__intro {
  text-align: center;
}

.intro__title-first {
  color: white;
  letter-spacing: 0.5em;
  font-size: 80%;
}

.intro__title-second {
  letter-spacing: 0.7em;
  font-size: 120%;
  margin: 2em 0 2em 0;
}

.intro__description {
  color: white;
  font-size: 110%;
  margin: 3em 5% 0 5%;
}

@media(min-width: 26em) {
  .intro__title-first {
    font-size: 100%;
  }

  .intro__title-second {
    font-size: 150%;
  }

  .intro__description {
    font-size: 130%;
  }
}

@media(min-width: 48em) {
  .intro__title-first {
    font-size: 200%;
  }

  .intro__title-second {
    font-size: 300%;
  }

  .intro__description {
    font-size: 130%;
    margin: 3em 10% 0 10%;
  }
}

@media(min-width: 58em) {
  .intro__description {
    font-size: 130%;
    margin: 3em 15% 0 15%;
  }
}

@media(min-width: 90em) {
  .intro__description {
    margin: 3em 20% 0 20%;
  }
}

@media(min-width: 160em) {
  .intro__title-first {
    font-size: 300%;
  }

  .intro__title-second {
    font-size: 500%;
  }

  .intro__description {
    font-size: 200%;
  }
}