* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1em; }

h1, h2 {
  text-transform: uppercase; }

a:link {
  color: #0f3138;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

a:active, a:visited, a:focus {
  color: #0f3138;
  border: none;
  outline: 0; }

.page-wrapper {
  position: relative; }

.layout {
  position: relative;
  width: 100%;
  color: #0f3138;
  padding: 3em 0.5em 11em 0.5em;
  background: #f9c3d3;
  top: 0;
  transition: top 0.30s ease-out; }

.layout-down {
  top: 24.75em; }

.layout__intro {
  text-align: center; }

.intro__title-first {
  color: #ffffff;
  letter-spacing: 0.5em;
  font-size: 80%; }

.intro__title-second {
  letter-spacing: 0.7em;
  font-size: 120%;
  margin: 2em 0 2em 0; }

.intro__description {
  color: #ffffff;
  font-size: 110%;
  margin: 3em 5% 0 5%; }

@media (min-width: 26em) {
  .intro__title-first {
    font-size: 100%; }

  .intro__title-second {
    font-size: 150%; }

  .intro__description {
    font-size: 130%; } }
@media (min-width: 48em) {
  .intro__title-first {
    font-size: 200%; }

  .intro__title-second {
    font-size: 300%; }

  .intro__description {
    font-size: 130%;
    margin: 3em 10% 0 10%; } }
@media (min-width: 58em) {
  .intro__description {
    font-size: 130%;
    margin: 3em 15% 0 15%; } }
@media (min-width: 90em) {
  .intro__description {
    margin: 3em 20% 0 20%; } }
@media (min-width: 160em) {
  .intro__title-first {
    font-size: 300%; }

  .intro__title-second {
    font-size: 500%; }

  .intro__description {
    font-size: 200%; } }
.nav {
  position: relative;
  background: #f9c3d3;
  height: 5em;
  width: 100%; }

.nav_button {
  float: right;
  position: relative;
  margin: 1.15em 0.75em 1em 0;
  padding: 1em 1.5em 1em 1em; }
  .nav_button:hover {
    background: #fef9fa; }
    .nav_button:hover .nav-triangleUp {
      top: 1.4em; }

.nav-triangleUp {
  position: absolute;
  right: 0.5em;
  top: 1.3em;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0f3138; }

.nav-triangleDown {
  position: absolute;
  right: 0.5em;
  top: 1.5em;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0f3138; }

.nav_list {
  display: none; }

@keyframes width {
  from {
    left: 30%;
    right: 30%; }
  to {
    left: 0%;
    right: 0%; } }
.nav_list--display {
  position: absolute;
  top: 2.7em;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.75rem 3rem;
  list-style: none;
  background: #fce1e9;
  margin: 0 auto;
  font-size: 180%;
  animation: width 250ms forwards; }

.nav_link {
  display: block;
  float: left;
  position: relative;
  margin: 0.5em;
  width: auto; }

@keyframes border {
  from {
    left: 40%;
    right: 40%; }
  to {
    left: 0%;
    right: 0%; } }
.nav--underline:hover {
  position: relative; }
  .nav--underline:hover:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0 auto;
    border-bottom: 3px solid #0f3138;
    animation: border 250ms forwards; }

.nav--box {
  background: #fef9fa;
  padding: 0.5em;
  margin: 0; }
  .nav--box:hover {
    background: #ffffff; }

.layout-intro {
  position: relative;
  display: block;
  background: #f9c3d3;
  width: 100%; }

/*  min-width: 58em*/
@media (min-width: 58em) {
  .nav {
    background: #f9c3d3;
    padding: 1.25em 1.25em 0 0; }

  .nav_button {
    display: none; }

  .nav_list {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    flex-flow: row wrap;
    font-size: 100%;
    background: #f9c3d3; } }

/*# sourceMappingURL=Main.css.map */
