
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1em;
}

h1, h2 {
  text-transform: uppercase;
}

a:link {
  color: $mainFont;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

a:active, a:visited, a:focus {
  color: $mainFont;
  border: none;
  outline: 0;
}

.page-wrapper {
  position: relative;
}